{% extends "::base.html.twig" %}
{% block title %} News {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/cergynews/css/bootstrap.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/cergynews/css/news.css') }}" type="text/css" media="all" />

{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>My news</h1>

    {% if app.session.flashBag.has('success') %}
        <ul>
            {% for message in app.session.flashBag.get('success') %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<div class="row">
{% for n in news %}
    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="thumbnail">
            <img data-src="holder.js/300x300">
            <div class="caption">
                <h3>{{ n.title }}</h3>
        <p>{{ n.content }}</p>
        Created : {{ n.createdAt|date('d-m-Y h:i') }}
        Updated : {{ n.updatedAt|date('d-m-Y h:i') }}
        Author : {{ n.author }}
        <p><a href="{{ path('news_update', {'id': n.id}) }}" class="btn btn-primary" role="button">Edit</a></p>
        <p><a href="{{ path('news_delete', {'id': n.id}) }}" class="btn btn-primary" role="button">Destroy</a></p>

            </div>
    </div>
    </div>
{% endfor %}
</div>
{% endblock %}
